extend layout

block content
  .row
    .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-body

            .table-container
              table.table.table-filter.table-striped.table-bordered
                thead(height="100")
                  nav.navbar.navbar-expand-lg
                    .pull-left
                      button.btn.btn-secondary.btn-filter(type='button',data-toggle="modal" data-target="#myModal") Visualization

                    .pull-right
                      .btn-group
                        button.btn.btn-success.btn-filter(type='button', data-target='cluster1') Cluster I
                        button.btn.btn-warning.btn-filter(type='button', data-target='cluster2') Cluster II
                        button.btn.btn-danger.btn-filter(type='button', data-target='cluster3') Cluster III

                tbody
                  - for (var i = 0; i < cluster1.length; i++)
                    tr(data-status='cluster1')
                      td
                        a.ajax-link(href='#Modal',data-toggle='modal') #{cluster1[i]}
                  - for (var j = 0; j < cluster2.length; j++)
                    tr(data-status='cluster2')
                      td
                        a.ajax-link(href='#Modal',data-toggle='modal') #{cluster2[j]}
                  - for (var k = 0; k < cluster3.length; k++)
                    tr(data-status='cluster3')
                      td
                        a.ajax-link(href='#Modal',data-toggle='modal') #{cluster3[k]}
              .bottom-anchor
            +modal("Visualization", "myModal")
              svg(width='960', height='600')
              #pop-up
                #pop-up-title
                #pop-up-content
            +modal("APG", "Modal")
              div.jcontent


  script(src='https://code.jquery.com/jquery-2.2.0.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src='https://d3js.org/d3.v4.min.js')
  script(src="/../javascripts/cluster.js")

  script.

    $(document).ready(function () {

    $('.btn-secondary').click();

    });

    $('.ajax-link').on('click', function () {

      var params = { name: $(this).text() };

        //ajax call defined in app
      $.get( '/ajax_get_json',params, function(data) {
        //show(data);

        $('.jcontent').html(JSON.stringify(data));

      });

      function show(data) {
        var canvas = d3.select("div.jcontent")
                      .append("svg")
                      .attr("width", 500)
                      .attr("height", 500)
                      .append("g")
                          .attr("transform", "translate(50,50)");
        var tree = d3.layout.tree()
                      .size([400, 400]);

        var nodes = tree.nodes(data); // return array of objects
        var links = tree.links(nodes);
        console.log(nodes)
        console.log(links)
        

      }

    });



