extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    style(type="text/css"): include ../public/stylesheets/style.css
block body
    header
    // Static navbar
    //+navbar-static("Provenance Clustering","navbar")
      block navbarcontent
    .container
        // Main component for a primary marketing message or call to action
        .main-content
            block content
    footer.footer
        .container
            p.text-muted FIND YOUR XML
