extend layout

block content
  .row
    .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-body
            .pull-right
              form(method='post', action='/list')
                //a.cluster-link(href='#clusterModal',data-toggle="modal")
                button.btn.btn-warning.btn-lg.cluster-btn(type='submit') Cluster
                //+modal("cluster result", "clusterModal")
                //  p
                //    +img-thumbnail("images/cluster-accu.png","cluster-image")
              //form(method='post', action='/list')
              //  .btn.btn-lg.btn-warning.cluster-btn(type='Submit') Cluster
              
              .btn-group
                //button.btn.btn-success.btn-filter(type='button', data-target='cluster1') Cluster1
                //button.btn.btn-warning.btn-filter(type='button', data-target='cluster2') Cluster2
                //button.btn.btn-danger.btn-filter(type='button', data-target='cluster3') Cluster3
            .table-container
              table.table.table-filter
                thead
                  tr: th &nbsp;
                      th File Name
                      th Original Prov. Graph
                      th Activity Graph
                tbody
                  - for (var i = 0; i < rows.length; i++)
                    - var name = rows[i].name
                    - var xml_data = rows[i].xml_data
                    - var json_data = JSON.stringify(rows[i].json_data)
                    tr
                      td
                        .ckbox
                          input#checkbox1(type='checkbox')
                      td=name
                      td
                        //.media
                        a.pull-left(href='/show_xml/' + rows[i].name) XML
                        //a.pull-left.xml_header(href='#xmlModal',data-toggle="modal") XML
                        //+modal(names.pop(), "xmlModal")
                        //  p
                        //    | #{xml_data}
                      td
                        //.media
                        a.pull-left(href='/show_json/' + rows[i].name) JSON
                        //a.pull-left.json_header(href='#jsonModal',data-toggle="modal") JSON
                        //+modal(name, "jsonModal")
                        //  p
                        //    | #{json_data}
  .modal.modal-loading

  script(src='https://code.jquery.com/jquery-2.2.0.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/../javascripts/list.js")

