extend layout
script(src='../public/javascripts/list_xml_js.js')
block navbarcontent
    nav
      .container-fluid
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/upload') HOME &nbsp &nbsp
          li
            a(href='/list_xml') FILES &nbsp &nbsp
          li
            a(href='/list_json') RESULT
block content
    h3
      | #{title}
    p
      table.table.table-hover#xml_table
        thead
          tr: th Files
        tbody
          - for (var i = 0; i < rows.length; i++)
            tr
              td=rows[i].name
              td &nbsp;
              td=rows[i].data
              td &nbsp;

