extend layout

block navbarcontent
    nav
      .container-fluid
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/upload') HOME &nbsp &nbsp
          li
            a(href='/list_xml') FILES &nbsp &nbsp
          li
            a(href='/list_json') RESULT
            
block content
    h3
      | #{title}
    p
      table.table.table-hover
        thead
          tr: th Files
        tbody
          - for (var i = 0; i < rows.length; i++)
            - var jsonFormatString = JSON.stringify(rows[i].data, undefined, 2)
            tr
              td=rows[i].name
              td &nbsp;
              td=jsonFormatString
              td &nbsp;
