extend layout
block navbarcontent
    nav.nav.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Explore
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') Home
          li
            a(href='#') Setting
          li
            a(href='#', class='text-center new-account') Sign Out
block content
    h3
      | #{title}
    p
      table.table.table-hover
        thead
          tr: th Title
              th Size
        tbody
          - for (var i = 0; i < title.length; i++)
            tr
              td=title[i]
              td=size[i]
              td &nbsp;
    p
      | #{success}